<app-server></app-server>
<app-server></app-server>

<!-- <button class="btn-primary" disabled>Add Server</button> -->
<button
 class="btn-primary"
[disabled]="!allowNewServer"
(click) = "onCreateServer()">Allow Server</button>


<p [innerText]="name"></p>
<p>{{serverCreationStatus}}</p>

<!-- <input
 type="text"
 (input)="onTyping($event)"/> -->

 <input
  type="text"
  [(ngModel)]="serverName">

 <p *ngIf="showServer">The server name using input event binding is : {{serverName}}</p>

 <p *ngIf="showServer ; else noServer">Portion of show no server</p>

<ng-template #noServer>
    <p>No Server was created</p>
</ng-template>